name: Build

on: push

jobs:
  build-base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build . -f base.Dockerfile -t ghcr.io/benc-uk/act-runner:base
      - run: |
          echo ${{ secrets.REGISTRY_PASSWORD }} | docker login ghcr.io -u benc-uk --password-stdin
          docker push ghcr.io/benc-uk/act-runner:base

  build-golang:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build . -f golang.Dockerfile -t ghcr.io/benc-uk/act-runner:golang
      - run: |
          echo ${{ secrets.REGISTRY_PASSWORD }} | docker login ghcr.io -u benc-uk --password-stdin
          docker push ghcr.io/benc-uk/act-runner:golang

  build-dotnet:
    runs-on: ubuntu-latest
    needs: build-base
    steps:
      - uses: actions/checkout@v2
      - run: docker build . -f dotnet.Dockerfile -t ghcr.io/benc-uk/act-runner:dotnet
      - run: |
          echo ${{ secrets.REGISTRY_PASSWORD }} | docker login ghcr.io -u benc-uk --password-stdin
          docker push ghcr.io/benc-uk/act-runner:dotnet
